/* CSS LAYOUT */
/* **************************************************************** */

/* VARIABLES */
:root{
    /* Ancho de Escritorio 2022*/
    --anchoPantalla: 1366px;
}

/* HEADER */

/* NAV */
.contenedor{
    height: 100vh;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main, footer{
    width: calc(var(--anchoPantalla)/2);
}

main{
    border-radius: 20px;
    height: 90%;
}

/* Zona Banner */
.banner, .texto, .contacto{
    padding: 5%;
}

.banner__subtitulo{
    margin-bottom: 2rem;
}

.banner__boton{
    border-radius: 30px;
    padding: 0.5rem 2rem;
}

/* Contenido */
.texto{
    font-weight: bold;
    line-height: 1.5rem;
}

.texto p{
    margin-bottom: 2rem;
}

.texto__cuerpoLink--link{
    text-decoration: underline;
}

.texto__boton{
    border-radius: 10px;
    padding: 0.8rem 2rem;
}

img{
    border-radius: 50%;
}

.contacto{
    display: flex;
    align-items: center;
    padding-top: 8%;
}

.contacto__datos{
    padding-left: 20px;
}

.texto__article{
    display: flex;
    justify-content: center;
    padding-top: 6%;
}

li {
    line-height: 25px;
}

footer{
    height: 5%;
    /* Espacio de los laterales */
    padding: 2%;
    text-align: center;
}


