/* CSS TYPOGRAFÍA */
/* **************************************************************** */

*, a{
    font-family: sans-serif;
    font-size: 16px;
}

/* Banner */
.banner__titulo{
    font-size: 2rem;
    font-weight: bold;
}

.banner__subtitulo{
    font-size: 1.2rem;
    font-weight: lighter;
}

.banner__boton{

}